@import "src/preset.scss";

$pictureWidth: 30rem;
$pictureMaxHeight: 20rem;

$gapWidth: 2rem;

$wrapWidth: 800px;

:host {
  width: 100%;
}

article {
  width: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: $gapWidth;

  margin-bottom: 3rem;

  &:first-child {
    margin-top: 2rem;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &:nth-child(odd) {
    flex-direction: row-reverse;
  }

  .content {
    width: $pictureWidth;;
    max-width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    h1, h1 > a {
      color: $accent;
      margin-bottom: 1rem;
      text-decoration: none;
    }

  }

  .image-container {
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: $pictureWidth;
    max-width: 100%;
    max-height: $pictureMaxHeight;
  }
}
