<header #header>
  <div class="image">
    <picture>
      <source media="(max-width:426px)" srcset="assets/header/header-426.jpg">
      <source media="(max-width:620px)" srcset="assets/header/header-620.jpg">
      <source media="(max-width:854px)" srcset="assets/header/header-854.jpg">
      <source media="(max-width:1280px)" srcset="assets/header/header-1280.jpg">
      <source media="(max-width:1920px)" srcset="assets/header/header-1920.jpg">
      <source media="(max-width:2560px)" srcset="assets/header/header-2560.jpg">
      <source media="(max-width:3840px)" srcset="assets/header/header-3840.jpg">
      <img alt="MyLassi.xyz - Header" src="assets/header/header.jpg">
    </picture>
  </div>

  <nav #headerNav>
    <ul class="first">
      <li><a [routerLink]="['/tours']">Touren</a></li>
      <li><a [routerLink]="['/dogs']">Hunde</a></li>
    </ul>
    <ul class="last">
      <li *ngIf="isLogin()"><a (click)="logout($event)">Logout</a></li>
    </ul>
  </nav>

</header>

<main #main [class.center-content]="centerContent">
  <ng-content>

  </ng-content>
</main>


