<header #header>
  <div class="image-container">
    <picture>
      <img alt="MyLassi.xyz - Header"
           ngSrc="/header/header.jpg" height="2250" width="4000"
           sizes="100vw" srcset="/header/header-426.jpg 426w,
                                 /assets/header/header-620.jpg 620w,
                                 /assets/header/header-854.jpg 854w,
                                 /assets/header/header-1280.jpg 1280w,
                                 /assets/header/header-1920.jpg 1920w,
                                 /assets/header/header-2560.jpg 2560w,
                                 /assets/header/header-3840.jpg 3840w">
    </picture>
  </div>

  <nav #headerNav>
    <ul class="main">
      <li><a [routerLink]="['/']"><img class="logo" alt="Logo" ngSrc="/assets/logoWhite.svg" height="100" width="100"></a>
      </li>
      <li><a [routerLink]="['/tours']">Touren</a></li>
      <li><a [routerLink]="['/dogs']">Hunde</a></li>
    </ul>
    <ul class="last">
    </ul>
  </nav>

</header>

<main #main>
  <div class="main-container" [@routeAnimations]="getRouteAnimationData()">
    <router-outlet></router-outlet>
  </div>
</main>


