<app-single-page-layout>
  <nav class="header-nav" headerNav #headerNav>
    <ul class="main">
      <li><a [routerLink]="['/']"><img class="logo" alt="Logo" ngSrc="/assets/logoWhite.svg" height="100"
                                       width="100"></a>
      </li>
      <li><a [routerLink]="['/tours']">Touren</a></li>
      <li><a [routerLink]="['/dogs']">Hunde</a></li>
    </ul>
    <ul class="last">
    </ul>
  </nav>

  <div class="main-container" [@routeAnimations]="getRouteAnimationData()">
    <router-outlet></router-outlet>
  </div>
</app-single-page-layout>
