<div class="image-container">
  <picture>
    <ng-container *ngIf="!loadError && imageId">
      <img class="image"
           [ngSrc]="imageId" [width]="imageWidth" [height]="imageHeight"
           sizes="100vw" [ngSrcset]="getSrcSet()"
           [alt]="altText"
           (error)="onImageLoadError($event)">
    </ng-container>
    <ng-container *ngIf="loadError">
      <!--suppress AngularNgOptimizedImage -->
      <img alt="Picture Not Found" src="assets/404Picture.svg">
    </ng-container>
  </picture>
</div>
