<div class="image">
  <picture>
    <ng-container *ngIf="!loadError && imageUrl">
      <source *ngFor="let resolution of resolutionList"
              media="(max-width: {{resolution}}px)" srcset="{{imageUrl}}?width={{resolution}}">
      <img [class.hover]="hoverEffect" alt="{{altText}}" src="{{imageUrl}}" (error)="onImageLoadError($event)">
    </ng-container>
    <ng-container *ngIf="loadError">
      <img alt="Picture Not Found" ngSrc="assets/404Picture.svg" height="320" width="480">
    </ng-container>
  </picture>
</div>
