@import "src/styles/preset";

.btn {
  background-color: $accent;
  color: $ciSecond;

  padding: 0.3rem;
  margin: 0.2rem;

  font-size: 1.2rem;

  border: none;

  cursor: pointer;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;

  text-decoration: none;

  transition: all 250ms;

  &:disabled {
    background-color: $ciAccent;
    cursor: default;
  }

  &:hover {
    background-color: $ciAccent;
  }

  &.btn-submit {

  }
}

.btn {
  .btn-icon {
    color: white;
    height: 1em;

    &:first-child{
      margin-right: 0.2rem;
    }
  }
}
