button.btn, a.btn {
  background-color: $accent;
  color: $ciSecond;


  font-size: 1.5rem;
  padding: 0.5rem;
  border: none;

  cursor: pointer;

  display: inline-block;

  text-decoration: none;

  transition: all 250ms;

  &:disabled {
    background-color: $ciAccent;
    cursor: default;
  }

  &:hover {
    background-color: $ciAccent;
  }

  &.btn-icon {
    background-color: inherit;
    color: white;
    font-size: 1rem;
  }
}
