//Sizes

$widthXS: 425px;

// Colors
$prime: #263238;
$second: #424547;
$accent: #e16428;

$ciSecond: #1b1e20;
$ciAccent: #a83500;

$success: #00d400ff;


.text-black {
  color: black;
}

.text-white {
  color: white;
}

.w-100 {
  width: 100%;
}
