@import "src/styles/preset";


$borderRadius: 0.2rem;

table.table {
  //background-color: $second;
  border-collapse: collapse;
  overflow: hidden;


  border-radius: $borderRadius $borderRadius 0 0;


  th, td {
    padding: 0 0.5rem 0 0.5rem;
  }

  thead {
    border: solid 1px $second;
    background-color: $second;

    tr {
      th, td {
        font-size: 1.2rem;
        text-align: left;

        padding: 0.4rem 0.5rem;
      }
    }
  }

  tbody {
    border: solid 1px $second;

    tr {
      th, td {
        font-size: 1.0rem;
        text-align: left;

        padding: 0 0.5rem;
      }

      &:nth-child(even) {
        background-color: $prime;
      }
    }
  }
}

@mixin split-table {
  tr {
    display: block;

    padding: 0.5rem 0 0.5rem 0;

    td, th {
      display: block;

      &[data-label] {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin: 0.3rem 0 0 0;

        &:before {
          content: attr(data-label) ": ";
          display: inline-block;
          font-weight: bold;
          margin-right: 0.2rem;
        }
      }
    }
  }
}

@media screen and (max-width: $widthXS) {
  table.table.split-xs tbody {
    @include split-table
  }
}
