<header #header>

</header>

<div class="container w-100">
  <div #navSidebar class="left-sidebar">
    <nav class="submenu">
      <a class="menu-link" routerLinkActive="active" routerLink="/admin/board">
        <fa-icon class="fa-2xl link-icon" [icon]="faTableColumns"></fa-icon>
        <span class="link-text">Dashboard</span></a>
    </nav>

    <nav class="submenu">
      <a class="menu-link" routerLinkActive="active" routerLink="/admin/articles">
        <fa-icon class="fa-2xl link-icon" [icon]="faFileLines"></fa-icon>
        <span class="link-text">Artikel</span></a>
    </nav>
  </div>


  <main #main class="w-100">
    <router-outlet></router-outlet>
  </main>
</div>
