@import "src/styles/preset";

$sidebarLeftWidth: 3.5rem;


.container {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}

.left-sidebar {
  position: fixed;
  height: 100%;

  width: $sidebarLeftWidth;


  background-color: $prime;

  .submenu {
    width: 100%;
    margin: 1rem 0 0 0;
    display: flex;
    flex-direction: column;
    padding-left: 0.75rem;


    .menu-link {
      height: 3rem;
      width: fit-content;
      background-color: $prime;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      overflow: visible;

      color: lightgrey;

      border-radius: 1rem;

      transition: width 200ms ease-in-out;

      .link-icon {
        max-width: 32px;
        max-height: 32px;
      }

      .link-text {
        font-size: 1.5rem;

        width: 0;
        transition: width 200ms ease-in-out, padding-left 200ms ease-in-out;
        overflow: hidden;
      }

      &.active {
        color: white;
      }

      &:hover {
        .link-text {
          padding-left: 1rem;
          width: 10rem;
        }
      }
    }
  }

}

main {
  margin: 0 0 0 $sidebarLeftWidth;
}

@media screen and (max-width: $widthXS) {
  .container {
    flex-direction: column;
  }

  .left-sidebar {
    position: relative;
    display: flex;
    flex-direction: row;

    height: auto;
    width: 100%;

    .submenu {
      width: auto;
      height: auto;
      margin: inherit;

      .menu-link {
        &.active {
          width: auto;

          .link-text {
            padding-left: 1rem;
            width: auto;
          }
        }
      }
    }
  }

  main {
    margin: 0;
  }
}
