<app-admin-page-layout>
  <table class="table w-100">
    <thead>
    <tr>
      <th class="w-80">Title</th>
      <th>Gelöscht am</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let article of articles">
      <td><a>{{article.title}}</a></td>
      <td>{{article.is_deleted | date : 'short' }}</td>
      <td>
        <a class="btn btn-icon" *ngIf="!article.is_deleted" (click)="onDeleteArticle($event,article)">
          <fa-icon [icon]="faTrash"></fa-icon>
        </a>
        <a class="btn btn-icon" *ngIf="article.is_deleted" (click)="onRestoreArticle($event,article)">
          <fa-icon [icon]="faTrashRestore"></fa-icon>
        </a>
      </td>
    </tr>
    </tbody>
  </table>
</app-admin-page-layout>
