/* You can add global styles to this file, and also import other style files */

@import "src/preset.scss";

button.btn, a.btn {
  background-color: $accent;
  color: $ciSecond;

  font-size: 1.5rem;
  padding: 0.5rem;
  border: none;

  cursor: pointer;

  text-decoration: none;

  transition: all 250ms;
  &:hover {
    background-color: $ciAccent;
  }
}

a{
  color:white;
}

body {
  min-height: 100vh;
  color:white;
  background-color: $ciSecond;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



